@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Poppins:ital,wght@0,400;1,700&display=swap');
/* Paleta de cores
verde: #49a09d
Lilás: #5f2c82

*/


* {
    padding: 0px;
    margin: 0px;
    
}
body{
    background-color: #1B1F27;
}
main{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
    border-radius: 10px;
    height: 45vh;
    background-color: #181920;
}
.login input{
    
}
.formulario{
    display: flex;
    flex-direction: column;
    gap: 10px;
    outline: none;
}

img{
    width: 303px;
    height: 353px;
    border-radius: 8px 5px ;
}
 .formulario h1{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(208, 210, 211);
}
p{
    font-family: 'Noto Sans', sans-serif;
    font-weight: 500;
    padding-left: 15px;
}

 form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    
 }
 .login input{
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #252a34;
    border: none;
    outline: none;
    
 }
 a{
    text-decoration: none;
    color: bisque; ;
 }
 .login::placeholder{
    color: #CBD0F7;
   
 }
 form [type="submit"]{
    display: block;
    background-color: #5568fE;
    padding-left: 70px;
    padding-right: 70px;
 }

 /*botao estilo*/

 button {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    background: royalblue;
    color: white;
    padding: 0.3em 0.3em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.2s;
   }
   
   button span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
   }
   
   button svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
   }
   
   button:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
   }
   
   button:hover svg {
    transform: translateX(1.2em) rotate(45deg) scale(1.1);
   }
   
   button:hover span {
    transform: translateX(5em);
   }
   
   button:active {
    transform: scale(0.95);
   }
   
   @keyframes fly-1 {
    from {
     transform: translateY(0.1em);
    }
   
    to {
     transform: translateY(-0.1em);
    }
   }
   